.login {
    border: 2px solid black;
    width: 25%;
}
.login h2{
    text-align: center;
    justify-content: center;
}
.login h4{
    text-align: right;
    top: 100px;
}
.btn{
    text-align: center;
    justify-content: center;
    padding: 15px;
}
